asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
chardet==3.0.4
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.3.2
cycler==0.12.1
dash==3.0.4
decorator==5.2.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
Flask==3.0.3
fonttools==4.58.2
fsspec==2025.5.1
idna==2.7
importlib_metadata==8.7.0
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mpmath==1.3.0
narwhals==1.42.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.0
open3d==0.19.0
opencv-contrib-python==4.11.0.86
openxc==2.2.0
packaging==25.0
pandas==2.3.0
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
plotly==6.1.2
prompt_toolkit==3.0.51
protobuf==3.17.1
psutil==7.0.0
pupil_apriltags==1.0.4.post11
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
Pygments==2.19.1
pyparsing==3.2.3
pyrealsense2==2.55.1.6486
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyusb==1.0.0a3
pywin32==310
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rerun-sdk==0.23.3
retrying==1.3.4
rpds-py==0.25.1
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
traitlets==5.14.3
transforms3d==0.4.2
trimesh==4.6.12
typing_extensions==4.14.0
tzdata==2025.2
ultralytics==8.3.156
ultralytics-thop==2.0.14
units==0.7
urllib3==1.24.3
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.14
xarm-python-sdk==1.15.3
zipp==3.23.0
zivid==2.15.1.2.15.0
